body {
    font-family: OpenSans, sans-serif;
}
#logo_box {
    width: fit-content;
}

nav {
    background-color: #21212100;
    height: fit-content;
    position: fixed;
    width: 100%;
    padding-top: 0px;
    top: 0px;
}
h1 {
    margin-left: 20px;
    font-size: 25px;
    color: black;
    margin-top: 0px;
}
a {
    text-decoration: none;
}
#Ebene_1 {
    width: 200px;
    margin-left: 10px;
    position: relative;
    z-index: 100;
    margin-top: 10px;
}
.cls-3{
    transition: fill .6s;
}
.content {
    margin-top: 100px;
}
#menu_screen {
    position: fixed;
    z-index: 1;
    width: 30%;
    height: 100%;
    top: 0;
    right: 0;
    background-image: linear-gradient(315deg, #333333 0%, #2e2e2e 100%);
    visibility: hidden;
    transition: opacity .6s;
    font-family: sans-serif;
}
.pretransition {opacity: 0;}
.transition {opacity: 1;}
#menu_selection{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}
#home, #uberuns, #service, #contact{
    font-size: 80px;
    color: white;
    cursor: pointer;
    transition: color .5s ease;
}
#home:hover , #uberuns:hover, #service:hover, #contact:hover{
    color: #009245;
    text-decoration: underline 2.5px;
}
#box {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;

  }
  
  #bar1, #bar2, #bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
  }
  
  .change #bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change #bar2 {opacity: 0;}
  
  .change #bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

